* {
    box-sizing: border-box;
}

.top {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero-primary {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-secondary,
.link {
    font-size: 18px;
    color: #E5E7EB;
}

footer {
    background-color: #1f2937;
}

button,
.action-box {
    background-color: #3882f6;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}