* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding-right: 200px;
    padding-left: 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;

}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero-primary {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-secondary,
.link {
    font-size: 18px;
    color: #E5E7EB;
}

footer {
    background-color: #1f2937;
}

button,
.action-box {
    background-color: #3882f6;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.quote {
    background-color: #E5E7EB;
}

.main-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}