* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 50px;
}

.header {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    justify-content: space-between;
    gap: 200px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.hero-primary {
    max-width: 400px;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

#first {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    align-self: flex-start;
    color: #E5E7EB;
    border: 1px solid black;
}

#second {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    color: #E5E7EB;
    border: 1px solid black;
}

.placeholder {
    height: 200px;
    width: 400px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    color: #E5E7EB;
}

.hero-secondary {
    max-width: 400px;
}

.hero-secondary,
.link {
    font-size: 18px;
    color: #E5E7EB;
}

footer {
    background-color: #1f2937;
}

button,
.action-box {
    background-color: #3882f6;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.quote {
    background-color: #E5E7EB;
}

.main-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}